.button {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: "Bebas Neue", cursive;
}
.button:hover {
  opacity: 0.8;
}
.button:disabled {
  cursor: not-allowed;
}
.button.active {
  background: #559bc4;
  color: #fff;
}

.light {
  color: rgb(5, 46, 92);
  background-color: white;
}

.dark {
  color: white;
  background-color: rgb(5, 46, 92);
}
